@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: variables.$text-color;
}

html {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

//Gradient Background -------------------------

// body {
//     color: var(--color-white);
//     background: -webkit-linear-gradient(-40deg, var(--color-background), var(--color-secondary));
// }